@import '../../App.scss';

.parallax {
  min-height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h1 {
    font-size: 5rem;

    @include tablet {
      font-size: 4rem;
    }

    @include mobile {
      font-size: 3rem;
      text-align: center;
      padding: 0 1rem;
    }
  }

  .mountains,
  .planets,
  .stars {
    background-size: cover;
    background-position: bottom;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
  }

  .mountains {
    background-image: url('./mountains.png');
    z-index: 3;

    @include tablet {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .planets {
    background-image: url('./planets.png');
    z-index: 2;

    @include tablet {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .stars {
    background-image: url('./stars.png');
    z-index: 1;
  }
}
