@import '../../App.scss';

.hero {
  background: linear-gradient(
    180deg,
    var(--color-black),
    var(--color-dark-blue)
  );
  overflow: hidden; // To hide scrollbar of sliding text
  position: relative;
  user-select: none;

  &__grid-wrapper {
    height: calc(
      100vh - 100px
    ); //Subtracting the height of navbar which is 100px
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 20rem;

    @include mobile {
      display: flex;
      flex-direction: column;
      max-width: fit-content;
      text-align: center;
      margin: 0 auto;
      padding: 0 1rem;
    }

    .hero__details {
      display: flex;
      flex-direction: column;
      gap: 1.75rem;

      @include mobile {
        align-items: center;
      }

      .hero__title {
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 0.25rem;
        color: var(--color-orange);
      }

      .hero__subtitle {
        font-size: 6rem;
        letter-spacing: 0.15rem;

        @include tablet {
          font-size: 4rem;
        }

        @include mobile {
          font-size: 2.5rem;
        }
      }

      .btn__wrapper {
        display: flex;
        gap: 1.75rem;

        @include mobile {
          justify-content: center;
        }

        .btn--outline {
          padding: 1.25rem;
          border: 1px solid var(--color-white);
          border-radius: 0.5rem;
          background-color: transparent;
          color: var(--color-white);
          font-weight: bold;
          cursor: pointer;
          z-index: 5;

          &:hover {
            border: 1px solid var(--color-orange);
            color: var(--color-orange);
          }
        }
      }

      .scroll-icon {
        cursor: pointer;
        z-index: 5;

        &:hover {
          & > path {
            stroke: var(--color-orange);
          }
        }
      }
    }

    .img--avatar {
      min-width: 30rem;

      @include tablet {
        min-width: 18rem;
      }

      @include mobile {
        max-width: 20rem;
        min-width: 10rem;
      }
    }
  }

  .sliding-text-container {
    position: absolute;
    font-size: 40vh;
    bottom: -20px;
    white-space: nowrap;
    color: #ffffff09;
    font-weight: bold;
  }
}
