@import '/src/App.scss';

.navbar {
  height: 100px;
  margin: 0 8rem;
  user-select: none;

  @include mobile {
    margin: 0 1.75rem;
  }

  &-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      justify-content: flex-end;
    }

    span {
      font-weight: bold;
      letter-spacing: 0.15rem;

      @include mobile {
        display: none;
      }
    }

    &__socials-wrapper {
      display: flex;
      gap: 1.75rem;

      img {
        width: 100%;
        max-width: 1.5rem;
        height: auto;
      }
    }
  }
}
